.container {
  font-family: "Tillana", cursive;
  font-size: 40px;
  font-weight: bold;
  width: 100%   ;
  height: 100vh;
  color: #b666d2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./assets/background-donation-image.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.nav-bar {
  height: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar ul li {
  display: inline-block;
  list-style: none;
  margin: 20px;
  position: relative;
}

.nav-bar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b666d2;
  font-size: 30px;
}

.nav-bar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff0f5;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
}

.nav-bar ul li:hover::after {
  width: 100%;
}

.branding {
  font-family: "Orbitron", sans-serif;
  color: #b666d2;
  margin-right: 500px;
  font-size: 40px;
  word-spacing: 20px;
}

.food-donation-image {
  width: 500px;
  margin-left: 900px;
  position: absolute;
  transition: width 0.5s ease;
}

.food-donation-image:hover {
  width: 550px;
  transition: width 0.5s ease;
}

.welcoming {
  color: #fff0f5;
  font-size: 50px;
  margin-top: 80px;
  font-family: "Dancing Script", cursive;
  margin-left: 50px;
}

h3.welcoming::after {
  content: "";
  height: 3px;
  width: 0;
  background: #c9a0ff;
  position: absolute;
  left: 0;
  bottom: 1px;
  transition: 0.5s;
  bottom: 400px;
  left: 60px;
  right: 1000px;
}

h3.welcoming:hover::after {
  width: 36%;
}
.description {
  font-size: 30px;
  margin-left: 50px;
  margin-right: 600px;
  height: 50px;
  font-family: "Shantell Sans", cursive;
  color: #fbaed2;
}

.org-name {
  color: #b666d2;
}

.Donate-Us-Btn {
  background: transparent;
  color: #fff0f5;
  border-radius: 100px;
  height: 60px;
  width: 200px;
  font-size: 30px;
  margin-top: 80px;
  margin-left: 50px;
  transition: 0.5s ease;
  position: absolute;
  word-spacing: 10px;
  border-color: #b666d2;
  font-family: "Caveat", cursive;
}

.Donate-Us-Btn:hover {
  background: #b666d2;
  color: #fff0f5;
  transition: 0.5s ease;
  font-size: 33px;
  width: 225px;
  height: 70px;
}
